/AladdinLuaFrameWork/Library/ScriptAssemblies/*.stamp
/AladdinLuaFrameWork/Library/ShaderCache/0/*.bin
/AladdinLuaFrameWork/Library/ShaderCache/2/*.bin
/AladdinLuaFrameWork/Library/ShaderCache/3/*.bin
/AladdinLuaFrameWork/Library/ShaderCache/a/*.bin
/AladdinLuaFrameWork/Library/ShaderCache/b/*.bin
/AladdinLuaFrameWork/Library/ShaderCache/c/*.bin
/AladdinLuaFrameWork/Library/ShaderCache/d/*.bin
/AladdinLuaFrameWork/Library/ShaderCache/f/*.bin
/AladdinLuaFrameWork/Library/UnityAssemblies/*.dll
/AladdinLuaFrameWork/Library/UnityAssemblies/*.xml
/AladdinLuaFrameWork/Library/UnityAssemblies/*.txt
/AladdinLuaFrameWork/Library/metadata/fb/*
/AladdinLuaFrameWork/Library/metadata/fb/*.info
/AladdinLuaFrameWork/Library/metadata/fc/*
/AladdinLuaFrameWork/Library/metadata/fc/*.info
/AladdinLuaFrameWork/Library/metadata/fe/*
/AladdinLuaFrameWork/Library/metadata/fe/*.info
/AladdinLuaFrameWork/Library/metadata/ff/*
/AladdinLuaFrameWork/Library/metadata/ff/*.info
/AladdinLuaFrameWork/Library/*.log
/AladdinLuaFrameWork/Temp/ProcessJobs/*.bakert
/AladdinLuaFrameWork/Temp/*
/AladdinLuaFrameWork/Temp/__Backupscenes/*.backup
